@font-face {
    font-family: "Ken";
    src: url("../assets/kenvector_future.ttf") format("truetype");
}

html,
body,
#app {
    font-family: "Ken";
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

canvas {
    background-color: #262626;
    display: none;
}

canvas.visible {
    display: block;
}
