html, body, #app, canvas {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

canvas {
    background-color: #262626;
    display: none;
}

canvas.visible {
    display: block;
}
