html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#app, canvas {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

canvas {
    background-color: #262626;
    display: none;
}

canvas.visible {
    display: block;
}
